<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pupster</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pupster</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.02.10</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pupster</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb898821060296556</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>78</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>df964949c3e4decb2a51aa89dafca39ecedc8caf</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>898821060296556</string>
	<key>FacebookDisplayName</key>
	<string>Pupster</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Take a photo for profile</string>
	<key>StripeKey</key>
	<string>$(STRIPE_KEY)</string>
	<key>StripeMerchant</key>
	<string>$(STRIPE_MERCHANT)</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
		<string>SF-Pro-Display-Heavy.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SFProDisplay-Bold.ttf</string>
		<string>SFProDisplay-Medium.ttf</string>
		<string>SF-Pro-Text-Heavy.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-Semibold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>branch_app_domain</key>
	<string>pupster.app.link</string>
	<key>branch_key</key>
	<string>key_live_ljz0LRg1P3mwvaW4xcQSkhmaqAefQY3v</string>
</dict>
</plist>
